/* Main Site Style */

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    color: 282828;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    margin-bottom: -100px;
    background-color: #f6ffe5;
}

.header-container {
    width: 100%;
    height: 75px;
    background-color: #282828;
}

.enemy-container {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.enemy-container 
.enemy-cell {
    width: 150px;
    position: relative;
}

.enemy-container
.enemy-cell
#enemy-icon {

}

#game-message-container {
    height: 50px;
    width: 680px;;
    margin: 0 auto;
    text-align: center;
}

#weapon-choice-container {
    margin: 0 auto;
    width: 680px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
}

.weapon-cell {
    width: 175px;
}

.arrow-cell {
    padding-left: 10px;
    padding-right: 10px;
}
.arrow-back-accent {
    text-align: center;
    margin: 0 auto;
    width: 680px;
}

.footer-push, .footer {
    height: 100px;
}

.footer {
    background-color: #282828;
}

/* Flip Setup */
.enemy-cell {
    perspective: 1000px;
}

/* .enemy-cell:hover {
    transform: rotateY(180deg);
} */

.flip-animation {
    transition: 0.6s;
	transform-style: preserve-3d;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: -70px;
	left: 0;
}

.front {
    z-index: 2;
	transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}